Flask==0.9
Flask-WTF==0.5.4
Jinja2==2.6
SQLAlchemy==0.8.0b2
SocksiPy-branch==1.02
WTForms==1.0.1
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.35
feedparser==5.1
lxml==3.1.0
psycopg2==2.4.6
wsgiref==0.1.2
