{% extends "add_and_list_page.html" %}
{% block items_table %}
    <tr><th>Name</th><th>Type</th><th>Modify</th><th>Delete</th><th>URL</th></tr>
    {% for source in objects %}
    <tr><td>{{ source.name }}</td>
        <td class="center">{{ source.source_type }}</td>
        <td class="center"><a href="/sources/{{ source.source_id }}" class="del_link">x</a></td>
        <td class="center"><a href="/sources/delete/{{ source.source_id }}" class="del_link">x</a></td>
        <td><a href="{{ source.address }}" title="{{ source.address }}">{{ source.address }}</a></td>
    </tr>
    {% endfor %}
{% endblock %}
